<included>
    <appender name="PLATFORM" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="com.epam.testsystem.discriminator.LoggerNameDiscriminator"/>
        <timeout>48 hours</timeout>
        <sift>
            <appender name="FILE-${loggerName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${LOG_PATH:-.}/logs/platform/${loggerName}/${loggerName}.%d{yyyy-MM-dd}.log</FileNamePattern>
                    <MaxHistory>365</MaxHistory>
                </rollingPolicy>

                <append>true</append>

                <encoder>
                    <pattern>%5p [%d][%thread][%logger{0}] %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <logger name="com.epam.testsystem.github" level="INFO" additivity="false">
        <appender-ref ref="MAIN"/>
        <appender-ref ref="PLATFORM"/>
        <appender-ref ref="ERRORS"/>
    </logger>
</included>