<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div id="app">
    <button v-on:click="getUsers">Get All</button>
    <li v-for="user in users">
        <p> email : {{ user.email }} </p>
        <p> githubNick : {{ user.githubNick }}</p>
        <p>________________________________________________</p>
        <div style="margin-left:100px">
            <lu v-for="task in user.tasks" >
                <p> {{ task.successful }}</p>
                <p> {{ task.status }} </p>
                <p> {{ task.startTime }}</p>
            </lu>
        </div>
    </li>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            message: "asdasdasd",
            users: []
        },
        methods: {
            getUsers: function () {
                let self = this;
                $.ajax({
                    type: "GET",
                    url: "/user",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        self.users = result;
                    },
                    error: function (result) {
                        this.message = result.toString();
                        alert(result.toString());
                    }
                })
            }
        }
    });
    app.methods.getUsers();
</script>

</body>
</html>